.chart {
  padding: 1rem;
  border-radius: 12px;
  background-color: #BFD8D2;
  text-align: center;
  display: flex;
  justify-content: space-around;
  height: 10rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}